:root {
  --primary-background: #1d1f20;
  --primary-border-color: #383d3f;
  --primary-text-color: #e6e6e6;
  --secondary-background: #242828;
  --primary-button-color: #911142;
  --primary-border-radius: 0.5rem;
}